@model object

<hr/>

<span style="color:white">Personifiera:</span>

<select name="impersonate" id="impersonate">
    <option value="1">Conny</option>
    <option value="2">Heinz</option>
    <option value="3">Henrietta</option>
    <option value="4">Orvar</option>
</select> 