@using VPBase.Base.Server.Code.Assemblys
@using VPBase.Base.Server.Code.Bundler
@using VPBase.Shared.Server.Configuration
@using VPBase.Shared.Server.Helpers
@inject AppSettings AppSettings
@inject BundlerService BundlerService
@{
    var title = "StartPage";
    ViewBag.Title = AppSettings.MenuSettings.SystemName + " - " + title;

    Layout = ViewAdminHelper.BaseLayoutPath;
}

@BundlerService.Render("300_admin_voidpointer_scripts.min.js")

<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                Välkommen till VPBase (Sample-startsida för Custom)
            </h1>
        </div>
    </div>
    <div class="row">
        @await Component.InvokeAsync("SampleUserClaims")
    </div>
    <div class="row">
        @await Component.InvokeAsync("SampleConfigDefinitionMaster")
    </div>
    <div class="row">
	    @await Component.InvokeAsync("SampleMaintenanceWindow")
    </div>
</div>
<br />
